<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="CNAirways"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CNAirways"
        tools:targetApi="31">
        <activity
            android:name=".My_tickets"
            android:exported="false" />
        <activity
            android:name=".fake_payment"
            android:exported="false" />
        <activity
            android:name=".activity_fake_payment"
            android:exported="false" />
        <activity
            android:name=".dannieprofile"
            android:exported="false" />
        <activity
            android:name=".company"
            android:exported="false" />
        <activity
            android:name=".privacy"
            android:exported="false" />
        <activity
            android:name=".settings"
            android:exported="false" />
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".cart"
            android:exported="false" />
        <activity
            android:name=".podgotovka"
            android:exported="false" />
        <activity
            android:name=".airport"
            android:exported="false" />
        <activity
            android:name=".bort"
            android:exported="false" />
        <activity
            android:name=".pravo"
            android:exported="false" />
        <activity
            android:name=".podderzhka"
            android:exported="false" />
        <activity
            android:name=".perevozki"
            android:exported="false" />
        <activity
            android:name=".students"
            android:exported="false" />
        <activity
            android:name=".kids"
            android:exported="false" />
        <activity
            android:name=".sertificat"
            android:exported="false" />
        <activity
            android:name=".tarifi"
            android:exported="false" />
        <activity
            android:name=".dop"
            android:exported="false" />
        <activity
            android:name=".oplata"
            android:exported="false" />
        <activity
            android:name=".ticket"
            android:exported="false" />
        <activity
            android:name=".napravlenia"
            android:exported="false" />
        <activity
            android:name=".onlinetablo"
            android:exported="false" />
        <activity
            android:name=".search"
            android:exported="false" />
        <activity
            android:name=".information"
            android:exported="false" />
        <activity
            android:name=".specialoffers"
            android:exported="false" />
        <activity
            android:name=".services"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".registration"
            android:exported="false" />
        <activity
            android:name=".repair_password"
            android:exported="false" />
        <activity
            android:name=".authorization"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>